!!!
%html{lang: 'en'}
  %head
    %meta{name: 'viewport', content: 'initial-scale=1.0'}
    %meta{charset: 'utf-8'}
    %title= 'Carlos Vilhena'
    %meta{name: 'description', content: "My name is Carlos Vilhena and I'm a senior engineer that can help you deliver software solutions on technologies including ruby, clojure and javascript."}
    = stylesheet_link_tag 'all'
    = javascript_include_tag 'all'
    = javascript_include_tag 'gs'
    = favicon_tag 'images/favicon.ico'

  %body{class: page_classes}
    = yield
    = google_analytics_tag
