---
title: List of blog posts related to investing
---

.welcome
  %p.doc
    = link_to 'TradingView review', 'https://compounding.works/tradingview-a-review/', target: '_blank'
  %p.doc
    = link_to 'Review of 10 Questions to Master Successful Investing', 'https://compounding.works/master-successful-investing-with-david-steins-new-book/', target: '_blank'
  %p.doc
    = link_to 'Investing in 5G in 2020: a comprehensive guide', 'https://compounding.works/a-comprehensive-guide-to-investing-in-5g/', target: '_blank'
  %p.doc
    = link_to 'Should you invest in cryptocurrencies for retirement?', 'https://compounding.works/should-you-invest-in-cryptocurrencies-for-retirement/', target: '_blank'
  %p.doc
    = link_to 'How to buy TikTok stock?', 'https://compounding.works/how-to-buy-tiktok-stock/', target: '_blank'
  %p.doc
    = link_to 'Top 5 financial reporting books for investors in 2020', 'https://compounding.works/top-5-financial-reporting-books-for-investors-in-2020/', target: '_blank'
  %p.doc
    = link_to 'Is Value investing ready to outperform Growth?', 'https://compounding.works/is-value-investing-ready-to-outperform-growth/', target: '_blank'
  %p.doc
    = link_to 'Investing in remote work stocks in 2020', 'https://compounding.works/investing-in-remote-work-stocks-in-2020/', target: '_blank'
  %p.doc
    = link_to 'How to buy Airbnb stock?', 'https://compounding.works/how-to-buy-airbnb-stock/', target: '_blank'
  %p.doc
    = link_to 'The economic impact of COVID-19: top 3 scenarios', 'https://compounding.works/the-economic-impact-of-covid-19-top-3-scenarios/', target: '_blank'
  %p.doc
    = link_to 'How to buy SpaceX stock', 'https://compounding.works/how-to-buy-spacex-stock/', target: '_blank'
  %p.doc
    = link_to 'What are the 6 Investment mistakes you should avoid in 2020?', 'https://compounding.works/what-are-the-6-investment-mistakes-you-should-avoid-in-2020/', target: '_blank'
  %p.doc
    = link_to 'Invest in Online Businesses', 'https://compounding.works/the-best-alternative-investments-to-boost-your-returns/invest-in-online-businesses/', target: '_blank'
