---
title: Welcome to Middleman
---

.welcome
  .logo
    = image_tag "carlos.jpg"
  %h1 Carlos Vilhena
  %p.doc
    I am a full stack software engineer with 8+ years of commercial engineering
    experience for startups across Europe.

  %p.doc
    I love solving complex problems, taking projects from concept to release and
    working in small, fast paced teams. I find it thrilling to take an idea and
    bring it to life.

  %p.doc
    If you think I can help you, get in touch by
    = link_to 'email', 'mailto:carlosvilhena@gmail.com'
    or find me on
    = link_to 'twitter', 'https://twitter.com/carvil_'
    ,
    = link_to 'github', 'https://github.com/carvil'
    or
    = link_to 'linkedin.', 'https://uk.linkedin.com/in/carlosvilhena'
